#main{
width:100%;
min-height:700px;
/*margin:1px auto*/
}

	

form#moncompte  {
  background: #808080;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
}

form#moncompte fieldset {
  border: none;
  margin-bottom: 5px;
}
form#moncompte fieldset:last-of-type {
  margin-bottom: 0;
}


form#moncompte legend {
  color: #FF5900;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
 /* text-shadow: 0 1px 1px #c0d576;*/
}
form#moncompte fieldset fieldset legend {
  color: #111111;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 0;
}

form#moncompte ol li {
  background: #b9cf6a;
  background: rgba(255,255,255,.3);
  border-color: #e3ebc3;
  border-color: rgba(255,255,255,.6);
  border-style: solid;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}
form#moncompte ol ol li {
  background: none;
  border: none;
  float: left;
}


form#moncompte label {
  float: left;
  font-size: 13px;
  width: 150px;
}
form#moncompte fieldset fieldset label {
  background:none no-repeat left 50%;
  line-height: 20px;
  padding: 0 0 0 30px;
  width: auto;
}
form#moncompte label[for=visa] {
  background-image: url(visa.gif);
}
form#moncompte label[for=amex] {
  background-image: url(amex.gif);
}
form#moncompte label[for=mastercard] {
  background-image: url(mastercard.gif);
}
form#moncompte fieldset fieldset label:hover {
  cursor: pointer;
}

form#moncompte input:not([type=radio]),
form#moncompte textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 200px;
}
form#moncompte input:not([type=submit]):focus,
form#moncompte textarea:focus {
  background: #eaeaea;
}
form#moncompte input[type=radio] {
  float: left;
  margin-right: 5px;
}

form#moncompte button {
  background: #FF5900;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}
form#moncompte button:hover {
  background: #1e2506;
  cursor: pointer;
}		



form#mesconsignes  {
  background: #808080;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  width: 700px;
}

form#mesconsignes fieldset {
  border: none;
  margin-bottom: 5px;
}
form#mesconsignes fieldset:last-of-type {
  margin-bottom: 0;
}


form#mesconsignes legend {
  color: #FF5900;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
 /* text-shadow: 0 1px 1px #c0d576;*/
}
form#mesconsignes fieldset fieldset legend {
  color: #111111;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 0;
}

form#mesconsignes ol li {
  background: #b9cf6a;
  background: rgba(255,255,255,.3);
  border-color: #e3ebc3;
  border-color: rgba(255,255,255,.6);
  border-style: solid;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}
form#mesconsignes ol ol li {
  background: none;
  border: none;
  float: left;
}


form#mesconsignes label {
  float: left;
  font-size: 13px;
  width: 150px;
}
form#mesconsignes fieldset fieldset label {
  background:none no-repeat left 50%;
  line-height: 20px;
  padding: 0 0 0 30px;
  width: auto;
}
form#mesconsignes fieldset fieldset label:hover {
  cursor: pointer;
}

form#mesconsignes input:not([type=radio]),
form#mesconsignes textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 400px;
}
form#mesconsignes input:not([type=submit]):focus,
form#mesconsignes textarea:focus {
  background: #eaeaea;
}
form#mesconsignes input[type=radio] {
  float: left;
  margin-right: 5px;
}

form#mesconsignes button {
  background: #FF5900;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}
form#mesconsignes button:hover {
  background: #1e2506;
  cursor: pointer;
}	



form#monagenda  {
  background: #808080;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
}

form#monagenda fieldset {
  border: none;
  margin-bottom: 5px;
}
form#monagenda fieldset:last-of-type {
  margin-bottom: 0;
}


form#monagenda legend {
  color: #FF5900;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
 /* text-shadow: 0 1px 1px #c0d576;*/
}
form#monagenda fieldset fieldset legend {
  color: #111111;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 0;
}

form#monagenda ol li {
  background: #b9cf6a;
  background: rgba(255,255,255,.3);
  border-color: #e3ebc3;
  border-color: rgba(255,255,255,.6);
  border-style: solid;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}
form#monagenda ol ol li {
  background: none;
  border: none;
  float: left;
}


form#monagenda label {
  float: left;
  font-size: 13px;
  width: 150px;
}
form#monagenda fieldset fieldset label {
  background:none no-repeat left 50%;
  line-height: 20px;
  padding: 0 0 0 30px;
  width: auto;
}
form#monagenda label[for=visa] {
  background-image: url(visa.gif);
}
form#monagenda label[for=amex] {
  background-image: url(amex.gif);
}
form#monagenda label[for=mastercard] {
  background-image: url(mastercard.gif);
}
form#monagenda fieldset fieldset label:hover {
  cursor: pointer;
}

form#monagenda textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 200px;
}
form#monagenda input:not([type=submit]):focus,
form#monagenda textarea:focus {
  background: #eaeaea;
}
/*
form#monagenda input[type=radio] {
  float: left;
  margin-right: 5px;
}
*/
form#monagenda button {
  background: #FF5900;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}
form#monagenda button:hover {
  background: #1e2506;
  cursor: pointer;
}	